services :
  ansible:
      build:
        context: .
        dockerfile: docker/ansible/Dockerfile
        args:
          ANSIBLE_VERSION: ${ANSIBLE_VERSION:-9.1.0}
      image: ansible:${VERSION:-latest}
      volumes:
        - ./ansible:/ansible
      environment:
        # Versions
        - ANSIBLE_VERSION=${ANSIBLE_VERSION:-9.1.0}
        
        # SSH configuration
        - SSH_PRIVATE_KEY=${SSH_PRIVATE_KEY:-}
        - SSH_KNOWN_HOSTS=${SSH_KNOWN_HOSTS:-}
        
        # Ansible configuration
        - ANSIBLE_HOST_KEY_CHECKING=${ANSIBLE_HOST_KEY_CHECKING:-False}
